apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: app-container
        # A variável $DOCKER_IMAGE será substituída pelo envsubst no workflow
        image: $DOCKER_IMAGE
        ports:
        - containerPort: 1337