name: Playwright Tests

on:
  push:
    branches:
      - master

jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
          npm install -g pnpm@latest
          pnpm install

      - name: Set up .env file
        run: |
          cp .env.example .env

      - name: Start application
        run: |
          pnpm build
          pnpm start &
        env:
          NODE_ENV: test

      - name: Wait for application to be ready
        run: |
          for i in {1..10}; do
            curl -sSf http://localhost:1337 && break
            echo "Waiting for application..."
            sleep 5
          done

      - name: Run Playwright tests
        run: |
          npx playwright install-deps
          npx playwright test